.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
  overflow: scroll;
  border-color: white;
  border-radius: 2px;
  border-width: 2px;
}

.message-list-container img {
  height: 1.5em;
  width: auto;
}
